node_modules/
dist/
.claude/settings.local.json
build/
*.tsbuildinfo

# Logs e Ambientes
*.log
.env
.env.local

# Configurações do VS Code
.vscode/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db